@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);

// <RATING>
// Сніппет (HTML): rating
.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-face:before {
  content: "\e900";
  color: #75757f;
}

._icon-in:before {
  content: "\e901";
  color: #75757f;
}

._icon-insta:before {
  content: "\e902";
  color: #75757f;
}

._icon-twi:before {
  content: "\e903";
  color: #75757f;
}

._icon-youtube:before {
  content: "\e904";
  color: #75757f;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0D0D11;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3D96F4;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 1rem 1.875rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.title {
  font-weight: 500;
  line-height: 1.2;
  color: #FFFFFF;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #9C9C9C;
}

.label {
  display: inline-block;
  padding: 0.6875rem 1.1875rem;
  font-weight: 300;
  font-size: 0.675rem;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0rem 0.9375rem;
  z-index: 100;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
}

.header._header-show {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 0rem;
  background-color: #0D0D11;
  opacity: 0.95;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 35px;
}

.menu__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}

.menu__link:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  text-underline-offset: 3px;
}

.cart-header {
  padding-left: 1.875rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-header__text {
  font-weight: 300;
  font-size: 17.6px;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.96px;
  color: #FFFFFF;
}

.cart-header__valume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.96px;
  color: #FFFFFF;
}

.menu-open .menu__body {
  left: 0;
}

.icon-menu {
  display: none;
}

.footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  border-bottom: 1px solid rgba(129, 129, 139, 0.2);
}

.column-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-footer__logo {
  margin-bottom: 32px;
}

.column-footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 33px;
}

.column-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column-footer__link {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 36px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.column-footer__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.column-footer__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.column-footer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.column-footer__email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  background-color: inherit;
  padding: 0.9375rem;
  max-width: 225px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.column-footer__email::-webkit-input-placeholder {
  padding-left: 33px;
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.column-footer__email::-moz-placeholder {
  padding-left: 33px;
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.column-footer__email:-ms-input-placeholder {
  padding-left: 33px;
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.column-footer__email::-ms-input-placeholder {
  padding-left: 33px;
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.column-footer__email::placeholder {
  padding-left: 33px;
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

._big {
  max-width: 347px;
}

.footer-bottom__container {
  display: -ms-grid;
  display: grid;
}

.footer-bottom__item {
  margin: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
}

.main-block__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main-block__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-block__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__image {
  max-width: 100%;
}

.main-block__image_01 {
  border-radius: 378px;
}

.main-block__image_02 {
  border-radius: 241.906px 241.906px 0px 241.906px;
}

.main-block__image_03 {
  border-radius: 241.906px 0px 241.906px 241.906px;
}

.main-block__image_04 {
  border-radius: 378px;
}

.items-main__title {
  margin-bottom: 1.75rem;
  position: relative;
}

.items-main__title::after {
  content: "";
  position: absolute;
  background: url("../img/main-block/decor.svg") no-repeat;
  top: -20px;
  left: -20px;
  width: 122px;
  height: 122px;
}

.items-main__text {
  margin-bottom: 2.0625rem;
}

.items-main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 20px;
}

.btn {
  width: 10rem;
  display: inline-block;
  background-color: #3D96F4;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 1rem 0.625rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background-color: #2c69ac;
}

.btn_btn-black {
  background: rgba(129, 129, 139, 0.2);
}

.partners {
  text-align: center;
}

.partners__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 79px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.partners__item {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__item:first-child {
  position: relative;
  z-index: -1;
}

.partners__item:first-child::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #0D0D11), to(rgba(0, 0, 0, 0))) 0 0 no-repeat;
  background: -o-linear-gradient(left, #0D0D11 8%, rgba(0, 0, 0, 0) 100%) 0 0 no-repeat;
  background: linear-gradient(90deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%) 0 0 no-repeat;
  background-size: 115px;
  content: "";
}

.partners__item:last-child {
  position: relative;
  z-index: -1;
}

.partners__item:last-child::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, #0D0D11), to(rgba(0, 0, 0, 0))) right 0 no-repeat;
  background: -o-linear-gradient(right, #0D0D11 8%, rgba(0, 0, 0, 0) 100%) right 0 no-repeat;
  background: linear-gradient(270deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%) right 0 no-repeat;
  background-size: 115px;
  content: "";
}

.partners__item img {
  max-width: 100%;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.services__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.titles__subtitle {
  margin-bottom: 1.1875rem;
}

.titles__title {
  margin-bottom: 0.75rem;
}

.titles__text {
  margin-bottom: 2.0625rem;
}

.items-services {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.items-services__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 3.4375rem 1.5625rem;
  display: block;
}

.items-services__logo {
  margin-bottom: 1rem;
}

.items-services__logo img {
  max-width: 100%;
}

.items-services__title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #FFFFFF;
  margin-bottom: 0.625rem;
}

.items-services__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #81818B;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.help__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/main-block/decor.svg") left bottom no-repeat;
}

.help__image img {
  max-width: 100%;
}

.items-help {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.items-help__label {
  margin-bottom: 43px;
}

.items-help__title {
  margin-bottom: 40px;
}

.items-help__text {
  margin-bottom: 35px;
}

.items-help__list {
  display: -ms-grid;
  display: grid;
  gap: 19px;
}

.items-help__item {
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  background: url("../img/help/mark.svg") 0 center no-repeat;
}

.img-1 {
  border-top-left-radius: 90% 50%;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 51% 28%;
  border-bottom-left-radius: 51% 28%;
  overflow: hidden;
}

.img-2 {
  border-radius: 50% 50% 50% 0%;
  overflow: hidden;
}

.numbers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.numbers__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.numbers__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.numbers__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
}

.numbers__image img {
  max-width: 100%;
  border-radius: 0% 68% 60% 60%/0% 68% 50% 50%;
}

.item-number {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.see__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.block-see {
  margin-bottom: 74px;
}

.block-see__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-see__label {
  margin-bottom: 25px;
}

.block-see__title {
  margin-bottom: 12px;
}

.block-see__text {
  max-width: 800px;
}

.block-see__button {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.item-see {
  padding: 4rem 1.25rem 4rem 2.5rem;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.item-see__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: #FFFFFF;
  margin-bottom: 34px;
}

.item-see__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 35px;
}

.top-item-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 33px;
}

.top-item-see__photo img {
  max-width: 100%;
}

.top-item-see__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.top-item-see__prof {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
}

.rating {
  font-size: 18px;
}

.photo01 {
  border-radius: 0 50% 50% 50%;
}

.photo02 {
  border-radius: 50% 0 50% 50%;
}

.photo03 {
  border-radius: 50% 50% 0 50%;
}

.blog__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.block-blog {
  margin-bottom: 64px;
}

.block-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-blog__label {
  margin-bottom: 25px;
}

.block-blog__title {
  margin-bottom: 12px;
}

.block-blog__text {
  max-width: 800px;
}

.block-blog__button {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
}

.item-blog__image img {
  width: 100%;
}

.item-blog__body {
  padding: 1.625rem 1.625rem 2.5rem 1.625rem;
}

.item-blog__date {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(129, 129, 139, 0.9);
  margin-bottom: 20px;
}

.item-blog__title {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 1.4;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.item-blog__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #9C9C9C;
  margin-bottom: 21px;
}

.item-blog__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #3D96F4;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.ready__body {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.ready__titles {
  max-width: 375px;
  padding: 3.125rem 0rem;
  text-align: center;
}

.ready__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: #FFFFFF;
}

.ready__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #9C9C9C;
}

.ready__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

@media (min-width: 47.99875em) {
  .main-block__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-block__items {
    padding-right: 15px;
    max-width: 32.8125rem;
  }

  .items-services__column:first-child {
    margin-top: 3rem;
  }
}

@media (min-width: 81.875em) {
  .title {
    font-size: 3.2rem;
  }

  .header__container {
    min-height: 7.25rem;
  }

  .menu__list {
    gap: 2.1875rem;
  }

  .footer-top {
    padding-top: 10rem;
  }

  .footer-top {
    padding-bottom: 10rem;
  }

  .column-footer__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .footer-bottom__container {
    height: 7rem;
  }

  .main-block {
    padding-top: 10rem;
  }

  .main-block {
    padding-bottom: 12rem;
  }

  .main-block__items {
    padding-top: 7.8125rem;
  }

  .main-block__images {
    -webkit-column-gap: 3.6875rem;
       -moz-column-gap: 3.6875rem;
            column-gap: 3.6875rem;
  }

  .main-block__images {
    padding-right: 0.75rem;
  }

  .main-block__column {
    row-gap: 2rem;
  }

  .services {
    padding-top: 10rem;
  }

  .services {
    padding-bottom: 12rem;
  }

  .help {
    padding-bottom: 12rem;
  }

  .items-help {
    padding-top: 5.625rem;
  }

  .items-help {
    padding-bottom: 5.625rem;
  }

  .numbers {
    padding-bottom: 6rem;
  }

  .see {
    padding-top: 6rem;
  }

  .see {
    padding-bottom: 6rem;
  }

  .see__items {
    gap: 3rem;
  }

  .blog {
    padding-top: 6rem;
  }

  .blog {
    padding-bottom: 6rem;
  }

  .ready__body {
    margin-top: 6rem;
  }

  .ready__body {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1200px) {
  .column-footer__text {
    max-width: 305px;
  }
}

@media (max-width: 1200px) {
  .footer-top {
    -ms-grid-columns: 2fr (1fr)[2];
    grid-template-columns: 2fr repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.75rem;
  }

  .header__container {
    min-height: 5rem;
  }

  .menu__list {
    gap: 0.9375rem;
  }

  .footer-top {
    padding-top: 1.875rem;
  }

  .footer-top {
    padding-bottom: 1.875rem;
  }

  .column-footer__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .footer-bottom__container {
    height: 3.125rem;
  }

  .main-block {
    padding-top: 4.375rem;
  }

  .main-block {
    padding-bottom: 1.25rem;
  }

  .main-block__items {
    padding-top: -6.25rem;
  }

  .main-block__images {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .main-block__images {
    padding-right: 0.0000000625rem;
  }

  .main-block__column {
    row-gap: 0.625rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services {
    padding-bottom: 1.875rem;
  }

  .help {
    padding-bottom: 1.25rem;
  }

  .items-help {
    padding-top: 1.875rem;
  }

  .items-help {
    padding-bottom: 1.875rem;
  }

  .numbers {
    padding-bottom: 1.875rem;
  }

  .see {
    padding-top: 1.875rem;
  }

  .see {
    padding-bottom: 1.875rem;
  }

  .see__items {
    gap: 1.25rem;
  }

  .blog {
    padding-top: 1.875rem;
  }

  .blog {
    padding-bottom: 1.875rem;
  }

  .ready__body {
    margin-top: 1.875rem;
  }

  .ready__body {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 68.75em) {
  .block-see__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-see__text {
    margin-bottom: 20px;
  }

  .block-blog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-blog__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 61.99875em) {
  .footer-top {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .item1 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    max-width: none;
  }

  .item4 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    max-width: none;
  }

  .body-services__link {
    margin-bottom: 30px;
  }

  .numbers__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .see__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .blog__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .item-blog {
    text-align: center;
  }

  .ready__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .ready__actions {
    padding-bottom: 50px;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    background-color: #0D0D11;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 150px;
    overflow: auto;
  }

  .menu__link {
    font-size: 44px;
  }

  .cart-header {
    position: relative;
    z-index: 5;
    padding-left: 0rem;
    padding-right: 0.625rem;
  }

  .button {
    position: relative;
    margin-right: 50px;
    padding: 0.625rem 1.25rem;
  }

  .icon-menu {
    display: block;
    position: fixed;
    right: 10px;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .column-footer__logo {
    max-width: none;
  }

  .column-footer__text {
    max-width: none;
  }

  .column-footer__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .column-footer__email {
    max-width: none;
  }

  .column-footer__button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 1rem 1.875rem;
  }

  .main-block__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .items-main__buttons {
    margin-bottom: 30px;
  }

  .items-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .numbers__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-see__button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .block-blog__button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .header {
    padding: 0;
  }

  .header__logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  .item-see {
    margin: 0 -15px;
  }

  .blog__items {
    margin: 0rem -0.9375rem;
  }

  .ready__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 2.75rem , 2.6045454545rem  +  0.7272727273vw , 3.2rem )) {
    .title {
      font-size: clamp( 2.75rem , 2.6045454545rem  +  0.7272727273vw , 3.2rem );
    }
}

@supports not (font-size: clamp( 2.75rem , 2.6045454545rem  +  0.7272727273vw , 3.2rem )) {
    .title {
      font-size: calc(2.75rem + 0.45 * (100vw - 20rem) / 61.875);
    }
}

@supports (min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem )) {
    .header__container {
      min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem );
    }
}

@supports not (min-height: clamp( 5rem , 4.2727272727rem  +  3.6363636364vw , 7.25rem )) {
    .header__container {
      min-height: calc(5rem + 2.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .menu__list {
      gap: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.533459596rem  +  2.0202020202vw , 2.1875rem )) {
    .menu__list {
      gap: calc(0.9375rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem )) {
    .footer-top {
      padding-top: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem )) {
    .footer-top {
      padding-top: calc(1.875rem + 8.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem )) {
    .footer-top {
      padding-bottom: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem )) {
    .footer-top {
      padding-bottom: calc(1.875rem + 8.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3421717172rem  +  1.4141414141vw , 1.5rem )) {
    .column-footer__item:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3421717172rem  +  1.4141414141vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3421717172rem  +  1.4141414141vw , 1.5rem )) {
    .column-footer__item:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 3.125rem , 1.8724747475rem  +  6.2626262626vw , 7rem )) {
    .footer-bottom__container {
      height: clamp( 3.125rem , 1.8724747475rem  +  6.2626262626vw , 7rem );
    }
}

@supports not (height: clamp( 3.125rem , 1.8724747475rem  +  6.2626262626vw , 7rem )) {
    .footer-bottom__container {
      height: calc(3.125rem + 3.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem )) {
    .main-block {
      padding-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 10rem )) {
    .main-block {
      padding-top: calc(4.375rem + 5.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.2247474747rem  +  17.3737373737vw , 12rem )) {
    .main-block {
      padding-bottom: clamp( 1.25rem , -2.2247474747rem  +  17.3737373737vw , 12rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.2247474747rem  +  17.3737373737vw , 12rem )) {
    .main-block {
      padding-bottom: calc(1.25rem + 10.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( -6.25rem , -10.7954545455rem  +  22.7272727273vw , 7.8125rem )) {
    .main-block__items {
      padding-top: clamp( -6.25rem , -10.7954545455rem  +  22.7272727273vw , 7.8125rem );
    }
}

@supports not (padding-top: clamp( -6.25rem , -10.7954545455rem  +  22.7272727273vw , 7.8125rem )) {
    .main-block__items {
      padding-top: calc(-6.25rem + 14.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem )) or (column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem ))) {
    .main-block__images {
      -webkit-column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem );
         -moz-column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem );
              column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem )) or (column-gap: clamp( 0.625rem , -0.3648989899rem  +  4.9494949495vw , 3.6875rem ))) {
    .main-block__images {
      -webkit-column-gap: calc(0.625rem + 3.0625 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(0.625rem + 3.0625 * (100vw - 20rem) / 61.875);
              column-gap: calc(0.625rem + 3.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -0.2424241597rem  +  1.2121211111vw , 0.75rem )) {
    .main-block__images {
      padding-right: clamp( 0.0000000625rem , -0.2424241597rem  +  1.2121211111vw , 0.75rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -0.2424241597rem  +  1.2121211111vw , 0.75rem )) {
    .main-block__images {
      padding-right: calc(0.0000000625rem + 0.7499999375 * (100vw - 20rem) / 61.875);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .main-block__column {
      row-gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .main-block__column {
      row-gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem )) {
    .services {
      padding-top: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.7512626263rem  +  13.1313131313vw , 10rem )) {
    .services {
      padding-top: calc(1.875rem + 8.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.3977272727rem  +  16.3636363636vw , 12rem )) {
    .services {
      padding-bottom: clamp( 1.875rem , -1.3977272727rem  +  16.3636363636vw , 12rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.3977272727rem  +  16.3636363636vw , 12rem )) {
    .services {
      padding-bottom: calc(1.875rem + 10.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.2247474747rem  +  17.3737373737vw , 12rem )) {
    .help {
      padding-bottom: clamp( 1.25rem , -2.2247474747rem  +  17.3737373737vw , 12rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.2247474747rem  +  17.3737373737vw , 12rem )) {
    .help {
      padding-bottom: calc(1.25rem + 10.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 5.625rem )) {
    .items-help {
      padding-top: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 5.625rem )) {
    .items-help {
      padding-top: calc(1.875rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 5.625rem )) {
    .items-help {
      padding-bottom: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 5.625rem )) {
    .items-help {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .numbers {
      padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .numbers {
      padding-bottom: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .see {
      padding-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .see {
      padding-top: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .see {
      padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .see {
      padding-bottom: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.6843434343rem  +  2.8282828283vw , 3rem )) {
    .see__items {
      gap: clamp( 1.25rem , 0.6843434343rem  +  2.8282828283vw , 3rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.6843434343rem  +  2.8282828283vw , 3rem )) {
    .see__items {
      gap: calc(1.25rem + 1.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .blog {
      padding-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .blog {
      padding-top: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .blog {
      padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .blog {
      padding-bottom: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .ready__body {
      margin-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .ready__body {
      margin-top: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .ready__body {
      margin-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5416666667rem  +  6.6666666667vw , 6rem )) {
    .ready__body {
      margin-bottom: calc(1.875rem + 4.125 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #2c69ac;
  }

  .column-footer__link:hover {
    color: #3D96F4;
    border: 1px solid #3D96F4;
  }

  .column-footer__item:hover {
    color: #3D96F4;
  }

  .btn_btn-black:hover {
    background-color: rgba(178, 178, 190, 0.2);
  }

  .item-blog__link:hover {
    color: #fff;
  }
}

@media (width < 1100px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .help__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
  }

  .help__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (width > 1100px) {
  .items-services__title {
    max-width: 13.75rem;
  }

  .items-services__text {
    max-width: 13.75rem;
  }
}